/* You can add global styles to this file, and also import other style files */

/* html, body {
    background-color: #dee2e6;
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dee2e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}